# Basic Function

In [17]:
import numpy as np

In [18]:
print("Running warmUpExercise ... ")
print("5x5 Identity Matrix: ")

Running warmUpExercise ...
5x5 Identity Matrix:

In [22]:
def warmUpExercise():
    A = []
    A = np.identity(5)
    return A

In [23]:
A = warmUpExercise()

In [24]:
A

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

# Linear Regression with one variable

## 2.1 Plotting the Data

In [26]:
import pandas as pd
data = pd.read_csv('ex1data1.txt', header=None, names=['Number of Population', 'Profits'])
data

    Number of Population   Profits
0                 6.1101  17.59200
1                 5.5277   9.13020
2                 8.5186  13.66200
3                 7.0032  11.85400
4                 5.8598   6.82330
..                   ...       ...
92                5.8707   7.20290
93                5.3054   1.98690
94                8.2934   0.14454
95               13.3940   9.05510
96                5.4369   0.61705

[97 rows x 2 columns]